---
import InfoCard from "./InfoCard.astro"

const { placeholder } = Astro.props
---

<InfoCard>
  <textarea required id="msgTextarea" placeholder={placeholder}></textarea>
  <button id="msgBtn" type="button" onclick="sendMessage()">Send</button>
</InfoCard>

<script is:inline>
  function sendMessage() {
    const msgTxtarea = document.getElementById("msgTextarea")
    if (!msgTxtarea.value) {
      alert("Please enter a message!")
      return
    }

    const text = `priteshtupe.com: ` + msgTxtarea.value
    const msgBtn = document.getElementById("msgBtn")
    msgBtn.setAttribute("disabled", true)
    msgBtn.style.backgroundColor = "var(--subcontent-color)"
    msgBtn.innerText = "Sending..."

    fetch("https://api.priteshtupe.com/default", {
      method: "POST",
      headers: [
        // ['Authorization', 'Basic ' + btoa(username + ":" + password)),
        ["x-auth-token", "MCe5xu0yovUwin4FNynQ3Y8XAzsNGln-nkvhgjBFg2w="],
      ],
      body: text,
    })
      .then((res) => {
        if (res.ok) {
          msgBtn.setAttribute("disabled", true)
          msgBtn.style.backgroundColor = "var(--subcontent-color)"
          msgBtn.innerText = "Sent!"
        } else {
          msgBtn.innerText = "Error!"
          console.error(res)
          alert("Unexpected error while sending message")
        }
      })
      .catch((err) => {
        msgBtn.innerText = "Error!"
        console.error(err)
        alert("Unexpected error while sending message")
      })
  }
</script>

<style>
  textarea {
    color: var(--content-color);
    width: 85%;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    border-radius: 1em;
    padding: 1em;
    background-color: var(--background-color);
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--link-color);
    color: var(--background-color);
    height: 100%;
    padding: 0 1em 0 1em;
    font-size: 1em;
    border-radius: 0 1em 1em 0;
  }
</style>
