---
---
<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<style>
.hamburger {
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  background-color: var(--link-color);
}
</style>

<script>
document.querySelector(".hamburger")?.addEventListener("click", () => {
  document.querySelector(".nav-links")?.classList.toggle("expanded");
});
</script>
