---
import Hamburger from "./Hamburger.astro"
import Navigation from "./Navigation.astro"
import ThemeIcon from "./ThemeIcon.astro"
---

<header>
  <nav>
    <ThemeIcon />
    <Navigation />
    <Hamburger />
  </nav>
</header>

<style>
nav {
  position: absolute;
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
