---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const allPosts = Object.values(await getCollection("blog"));
  const uniqueTags = [...new Set(allPosts.flatMap((post: any) => post.frontmatter.tags))];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  {posts.map((post: any) => <a href={post.url}>{post.frontmatter.title}<br /></a>)}
</BaseLayout>
