---
import BaseLayout from "../layouts/BaseLayout.astro"
import ProfilePic from "../images/profilePic.jpg"
import InfoCard from "./components/InfoCard.astro"

import GithubIcon from "../icons/gihub.svg"
import LinkedInIcon from "../icons/linkedin.svg"
import FacebookIcon from "../icons/facebook.svg"
import InstagramIcon from "../icons/instagram.svg"
import YoutubeIcon from "../icons/youtube.svg"
import MailIcon from "../icons/mail.svg"
import FeedIcon from "../icons/feed.svg"
import CommentBox from "./components/CommentBox.astro"

const pageTitle = "About Me"
---

<BaseLayout pageTitle={pageTitle}>
  <h1 style="text-align: center;">About me!</h1>
  <section class="intro">
    <InfoCard
      imageUrl={ProfilePic}
      title="Hi! I am Pritesh Tupe. Friends call me Pat."
    >
      <p>
        I am a Full Stack Developer, focused on Web and Mobile application
        development. With 7+ years of industry experience across various
        projects, teams, and environments, I constantly seek to better myself
        and my work.
      </p>

      <p>
        If you have any queries regarding my projects, posts, or just wanna say
        hi, please contact me on any of the platforms below.
      </p>
    </InfoCard>
  </section>

  <section class="connect">
    <h2>Connect with me on:</h2>

    <div class="contact-icon-list">
      <a target="_blank" href="https://github.com/p-tupe"
        ><GithubIcon class="contact-icon" /></a
      >
      <a target="_blank" href="https://www.linkedin.com/in/priteshtupe/"
        ><LinkedInIcon class="contact-icon" /></a
      >
      <a target="_blank" href="mailto:mail@priteshtupe.com"
        ><MailIcon class="contact-icon" /></a
      >
      <a target="_blank" href="https://facebook.com/pritesh.tupe/"
        ><FacebookIcon class="contact-icon" /></a
      >
      <a target="_blank" href="https://instagram.com/pritesh.tupe/"
        ><InstagramIcon class="contact-icon" /></a
      >
      <a target="_blank" href="https://www.youtube.com/@PriteshTupe"
        ><YoutubeIcon class="contact-icon" /></a
      >
      <a target="_blank" href="/rss.xml"><FeedIcon class="contact-icon" /></a>
    </div>

    <h2>Or send a message directly:</h2>

    <CommentBox placeholder="Write your message here..." pageTitle={pageTitle} />
  </section>

  <section class="story">
    <h2>My story</h2>

    <div>
      The day I was born, the very forests of Lordaeron whispered the name...
    </div>

    <div><strong>Wait, wrong story!</strong></div>

    <div>
      While <em>my</em> birth was not heralded by ancient powers-that-be, I personally
      consider it a life-changing event nonetheless.
    </div>

    <div>
      It was the year <h3>1994</h3>, when I was christened "Pritesh" by the
      family. I grew up in a small town during the formative years of my life
      devoted to video games - my "first" love. At my mom's insistence, I got a
      library card - and fell in love a second time; this time with words. Well,
      it was more pictures than words initially (looking at you Phantom &
      Mandrake), but before long I was gobbling up Jeffrey Archer's and Dan
      Brown's masterpieces. Finally, my friends dragged me to a new swimming
      pool club that had recently opened where I formed my final love of
      childhood days - swimming.
    </div>

    <div>
      In the year <h3>2010</h3>, I moved to the city for higher studies. Here, I
      got my first taste of things that would define my life for the coming
      decade - Anime, Light Novels, and Programming! (Of course, excluding the
      usual "firsts" of college days.) While the former two were quite
      understandable, I won't lie about programming - I was downright flummoxed
      by it at first. Only at first though. As I learned more about the ins and
      outs of it, I was understanding a problem - dissecting it just so, then
      wrestling to fit it into a paradigm, finally getting to a solution with no
      more errors. And boy oh boy, when things work just the way you wanted
      them? I <em>still</em> feel that exhilaration of a smoothly executed code-run
      just as much as I did back when I printed my first ever "Hello, World!"
    </div>

    <div>
      The year <h3>2016</h3>, fresh out of college, I was hired by a
      multinational IT consulting firm through a hackathon. There I worked in
      Innovations across varied projects for several clients and even dabbled in
      some social experiments. Later on, I joined an IoT startup as a back-end
      Nodejs developer, swiftly moving on to front-end React development as
      well. Eventually, I found my way into React-Native platform, and thus my
      professional moniker: Full Stack Web and Mobile App Developer, which
      succinctly covers the core of what I do even today.
    </div>

    <div>
      That was back in <h3>2021</h3>. Going through a couple of years of
      pandemic brought forth old dreams of me to wonder what was holding me
      back. I realized I had gotten comfortable in my spot. And thus, after a
      tumultuous year of ups and downs, I managed to leave for Canada in the
      fall of 2022. I decided to formally start learning Mobile App Development,
      so got enrolled at Fanshawe for a degree in the same.
    </div>

    <div>
      I graduated at the beginning of <h3>2024</h3>. The previous couple years
      were spent enjoying a laid back college experience once more. I made some
      of my closest friends here, had another set of ups and downs as you do,
      and learned more about myself and my place in this world. Thence emerged
      my current new passions: Diving and Camping. I became a certified open
      water diver, and started taking every opportunity I could to dive into the
      depths. Same for camping, although I only ever did single night campings.
    </div>

    <div>
      I am fortunate enough to have had the opportunity to work as a freelancer
      with some of the best teams in the industry ever since I landed in Canada.
      With the freedom of both time and finance, I went on some of the biggest
      trips of my life so far - a trans-Canada coast-to-coast road trip,
      Thailand, Indonesia, Dubai, Georgia etc. And so here I am, experincing all
      that life has to offer and looking forward to what's to come. I've never
      been more content.

      <p>
        If you're interested in my journey, check out the (self-proclaimed) best <a
          href="/photos">photos</a
        > on the internet.
      </p>
    </div>
  </section>
</BaseLayout>

<style>
  section {
    margin-bottom: 2em;
  }

  section.connect {
    div.contact-icon-list {
      display: flex;
      width: 100%;
      justify-content: space-evenly;

      .contact-icon {
        fill: var(--content-color);
      }
    }
  }

  section.story {
    div {
      margin: 1em;
    }

    h3 {
      display: inline;
    }
  }
</style>
