---
import BaseLayout from "./BaseLayout.astro"
const { frontmatter } = Astro.props

function timeAgo(input: any) {
  const ranges = {
    years: 3600 * 24 * 365,
    months: 3600 * 24 * 30,
    weeks: 3600 * 24 * 7,
    days: 3600 * 24,
    hours: 3600,
    minutes: 60,
    seconds: 1,
  }

  const date = input instanceof Date ? input : new Date(input)
  const formatter = new Intl.RelativeTimeFormat("en")
  const secondsElapsed = (date.getTime() - Date.now()) / 1000

  for (const [key, value] of Object.entries(ranges)) {
    if (value < Math.abs(secondsElapsed)) {
      const delta = secondsElapsed / value
      return formatter.format(
        Math.round(delta),
        key as unknown as Intl.RelativeTimeFormatUnit,
      )
    }
  }
}
---

<BaseLayout>
  <h1 style="text-align: center; margin-bottom: 0em;">{frontmatter.title}</h1>
  <p style="text-align: center; color: var(--subcontent-color);">
    Written {timeAgo(frontmatter.date)}
  </p>
  <slot />
</BaseLayout>
